* text=auto

# arquivos que o Windows precisa ler com CRLF
*.bat   text eol=crlf
*.cfg   text eol=crlf
*.rc    text eol=crlf

*.cpp   text
*.h     text
*.py    text
*.md    text
*.yml   text

# binarios: git nao mexe
*.exe   binary
*.dll   binary
*.lib   binary
*.ico   binary
*.png   binary
*.res   binary
*.obj   binary
